[*.cs]

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = none
